<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--坑点2：命名空间指向对应dao类名-->
<mapper namespace="com.jysd.dphweb.dao.IndexDao">
    <insert id="insertBanner" parameterType="com.jysd.dphweb.bean.tablebean.AD">
        INSERT INTO nideshop_ad
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adPositionId != null">
                ad_position_id,
            </if>
            <if test="mediaType != null">
                media_type,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="link != null">
                link,
            </if>
            <if test="imageUrl != null">
                image_url,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adPositionId != null">
                #{adPositionId},
            </if>
            <if test="mediaType != null">
                #{mediaType},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="link != null">
                #{link},
            </if>
            <if test="imageUrl != null">
                #{imageUrl},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="enabled != null">
                #{enabled},
            </if>

        </trim>

    </insert>
    <update id="updataBanner" parameterType="com.jysd.dphweb.bean.tablebean.AD">
        UPDATE nideshop_ad
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="adPositionId != null">
                ad_position_id = #{adPositionId},
            </if>
            <if test="mediaType != null">
                media_type = #{mediaType},
            </if>
            <if test="link != null">
                link = #{link},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>

        </set>
        where id = #{id}
    </update>
    <delete id="delectBanner">

        DELETE  FROM  nideshop_ad WHERE id=#{id};

    </delete>

    <select id="selectAd" parameterType="string" resultType="com.jysd.dphweb.bean.tablebean.AD">
        select * from nideshop_ad where ad_position_id=#{id};
    </select>
    <select id="selectChannel" resultType="com.jysd.dphweb.bean.tablebean.Channel">

        select * FROM nideshop_channel order by sort_order ASC;

    </select>

    <select id="selectNewGoods" parameterType="string" resultType="com.jysd.dphweb.bean.tablebean.Goods">
        SELECT id,`name`,list_pic_url,retail_price FROM nideshop_goods WHERE is_new=#{isnew} LIMIT 4;
    </select>
    <select id="selectHotGoods" parameterType="string" resultType="com.jysd.dphweb.bean.tablebean.Goods">
        SELECT id,`name`,list_pic_url,retail_price,goods_brief FROM nideshop_goods WHERE is_hot=#{ishot} LIMIT 3;
    </select>
    <select id="selectBrand" parameterType="int" resultType="com.jysd.dphweb.bean.tablebean.Brand">
        SELECT * FROM nideshop_brand WHERE is_new=1 ORDER BY new_sort_order ASC LIMIT 4;
    </select>
    <select id="selectTopic" resultType="com.jysd.dphweb.bean.tablebean.Topic">
        SELECT  * FROM  nideshop_topic LIMIT 3;
    </select>
    <select id="selectCategory" resultType="com.jysd.dphweb.bean.tablebean.Category">

        SELECT  * FROM  nideshop_category WHERE parent_id=0 ;
    </select>
    <select id="selectGoodsList" resultType="com.jysd.dphweb.bean.tablebean.GoodsListBean">


            SELECT  nideshop_goods.id,
            nideshop_goods.name,
            nideshop_goods.list_pic_url,
            nideshop_goods.retail_price  from nideshop_goods where id IN (
            select id from nideshop_category
            where  parent_id = #{id} )LIMIT 7;

    </select>

</mapper>
