<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jysd.dphweb.dao.CategoryDao">


    <select id="selectCategoryDate" resultType="com.jysd.dphweb.bean.tablebean.Category">

SELECT * FROM nideshop_category WHERE parent_id=#{parentid} LIMIT 10;


  </select>
    <select id="selectCategoryIdDate" resultType="com.jysd.dphweb.bean.tablebean.Category">
       SELECT * FROM nideshop_category WHERE id=#{id};

    </select>
</mapper>