<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jysd.dphweb.dao.CollectJoinBeanDao">
    <insert id="addCollect">
INSERT  INTO  nideshop_collect(type_id,value_id,user_id,add_time) VALUES (#{typeid},#{valueid},#{loginUserid},#{time});

    </insert>
    <delete id="delectCollect">
    DELETE FROM nideshop_collect WHERE id=#{id};

    </delete>

    <select id="selectCollectJoinData" resultType="com.jysd.dphweb.bean.tablebean.CollectJoinBean">

SELECT   c.* ,g.name, g.list_pic_url, g.goods_brief, g.retail_price FROM nideshop_collect c LEFT JOIN  nideshop_goods g ON (c.value_id=g.id) WHERE user_id=#{loginUserid} AND  type_id =#{type};

    </select>
    <select id="selectCollect" resultType="com.jysd.dphweb.bean.tablebean.Collect">

        SELECT * FROM  nideshop_collect WHERE type_id=#{typeid} AND value_id=#{valueid} AND  user_id=#{loginUserid};

    </select>
</mapper>