<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--坑点2：命名空间指向对应dao类名-->
<mapper namespace="com.jysd.dphweb.dao.OrderDao">

    <select id="seleListAction" resultType="com.jysd.dphweb.bean.tablebean.Order">

SELECT * FROM  nideshop_order WHERE user_id=#{loginUser} LIMIT #{page},#{size};

    </select>
</mapper>
